@use '../../styles/variables' as *
@use '../../styles/mixins' as *

.btn
    height: 40px
    font-weight: bold
    text-transform: uppercase
    color: #fff
    background-color: $primary-color
    border: 1px solid $primary-color
    border-radius: 20px
    cursor: pointer
    outline: none
    padding: 8px 15px
    transition: .4s

    &:hover
        background-color: transparent
        color: $primary-color

    &-half
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        text-decoration: none

    &-directional
        width: 40px
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid $primary-color
        border-radius: 50%
        color: $primary-color
        background-color: transparent

        &:hover
            background-color: $primary-color
            color: $light-color

    &-clear
        width: 150px
        font-size: 0.8rem

        @include mobile
            margin: 0 auto

.btn-category, .btn-filter
    background: none
    border: none
    color: $link-color
    border-bottom: 2px solid transparent
    cursor: pointer
    transition: .4s

    &:hover
        color: $primary-color
        border-color: $primary-color

.btn-filter
    width: 85px

.btn-show-hide-aside
    width: 45px
    height: 40px
    border: none
    background: transparent

    .icon
        font-size: 1.5rem
        color: $primary-color

.btn-sign-in
    color: $light-color
    background: transparent
    border: none
    cursor: pointer

.none
    opacity: 0
    cursor: default
