@use '../../../styles/mixins' as *
@use '../../../styles/variables' as *

.products-carousel
    @include center-content
    flex-direction: column
    padding: 2rem 0

    h2
        font-size: 2rem
        text-transform: uppercase

        @include mobile
            text-align: center

    &-list
        display: flex
        justify-content: space-between
        align-items: center
        padding: 2rem 0

        @include mobile
            flex-direction: row
            padding: 2rem 1rem
