@use '../../styles/variables' as *
@use '../../styles/mixins' as *

.products-grid-card-home, .products-grid-card-list
    height: 450px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 1px solid $gray-text-color
    transition: .4s
    padding: 1rem
    position: relative

    &:hover
        border-color: $primary-color

    .label
        text-transform: uppercase
        border: 1px solid $primary-color
        color: $primary-color
        padding: 2px 6px
        position: absolute
        top: 1rem
        right: 1rem

    .promo
        background-color: $primary-color
        color: $light-color

    img
        width: 90%

        @include mobile
            width: 50%

    .category, .product-name, .product-price, .rating-box, .btn
        margin-bottom: 1rem

    .category
        margin-top: 1rem
        text-transform: uppercase
        color: $gray-text-color

    .product-name
        text-transform: uppercase
        font-size: 1.2rem

    .product-price
        font-size: 1.5rem
        font-weight: bold
        color: $primary-color

.products-grid-card-home
    width: 20%

    @include mobile
        width: 90%
        margin: 1rem

.products-grid-card-list
    width: 30%

    @include mobile
        width: 90%
        height: 380px