@use '../../../styles/variables' as *
@use '../../../styles/mixins' as *

@mixin header-icon
    position: relative
    display: flex
    flex-direction: column
    text-align: center
    margin-left: 2.5rem

    .qty
        width: 18px
        height: 18px
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        top: -10px
        right: 2px
        background-color: $primary-color
        border-radius: 50%

    i
        margin-bottom: .2rem

    a:hover
        color: $primary-color

@mixin rounded-input
    height: 40px
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
    padding-left: 25px

.main-header
    @include center-content
    padding: 1.3rem 0

    @include mobile
        flex-direction: column
        align-items: center

    a, span, .icon
        color: #fff

    #brand
        font-weight: 900
        font-size: 3rem
        cursor: pointer

        .icon
            color: $primary-color
            font-size: 2rem

    #search-form
        width: 45%
        display: flex
        justify-content: center
        align-items: center

        @include mobile
            width: 100%
            margin: 2rem 0

        input
            height: 40px

        #search
            width: 60%
            @include rounded-input

    .header-actions-menu
        display: flex
        align-items: center

        .wishlist-container, .header-cart-container
            display: flex
            align-items: center

            .icon
                font-size: 2rem

            @include header-icon

            @include mobile
                margin: 1rem 1.5rem
