@use '../../../styles/variables' as *
@use '../../../styles/mixins' as *

.header-bottom
    background-color: $light-color
    border-bottom: 2px solid $section-bg-color
    border-top: 3px solid $primary-color

    ul
        @include center-content
        justify-content: left
        padding: 1rem 0

        @include mobile
            justify-content: center

        li
            margin-right: 1.3rem