@use '../../../styles/mixins' as *
@use '../../../styles/variables' as *

h1
    text-align: center
    font-size: 2.5rem
    color: $primary-color

    @include mobile
        font-size: 1.8rem
    
#loginForm
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem
    margin-top: 2rem

    .containerBtnRow
        width: 100%
        display: flex
        justify-content: center
        gap: 1rem
