@use '../../../styles/variables' as *
@use '../../../styles/mixins' as *

.header-top
    background-color: $secondary-bg-color
    color: $light-color

    @include mobile
        display: none

    &-container
        @include center-content
        padding: .8rem 0

        span
            margin-right: 1rem

        .icon
            margin-right: .3rem

        a
            color: $light-color
